@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-image: url(images/PROJECTACHTERGROND4.jpg);

}

header {
    display: flex;
    padding: 0 86px;
    height: 8vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    background-color: #313131;

}

header h2 {
    font-size: 35px;

}

header h2 a {
    color: white;
    text-decoration: none;

}

header h2 a:hover {
    color: #878787;

}

nav ul {
    display: flex;
    text-align: center;
    line-height: 40px;

}

nav ul li {
    list-style: none;
    padding: 0 35px;
    font-size: 17px;
    display: block;
    position: relative;

}

nav ul li a {
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    color: #878787;

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgb(29, 28, 28);
    padding: 1px;

}

nav ul li:hover ul {
    display: block;

}

nav ul li ul li {
    width: 180px;

}

nav ul li ul li a {
    color: white;

}

nav ul li ul li a:hover {
    color: #878787;

}

main {
    min-height: 80vh;
    color: black;
    width: 1140px;
    margin: 0 auto;

}

main h1 {
    /* width: 800px; */
    /* padding-left: 86px; */
    padding-top: 10vh;

}

main h2 {
    padding-top: 10vh;
    font-size: 48px;

}

main p {
    width: 800px;
    /* padding-left: 86px; */
    /* padding-top: 2vh; */
    font-size: 20px;

}

main p2 {
    width: 800px;
    font-size: 36px;

}

footer {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #313131;
    height: 9.75vh;

}

footer p {
    color: white;
    text-align: center;

}

.colom {
    display: flex;

}

.colom>p {
    /* flex-grow: 3; */
    margin-right: 20px;
}

.foto {
    width: 300px;
    margin: 80px 3px 10px 10px;

}

.foto img {
    width: 100%;
    height: auto;

}

.fotoSchool {
    padding-left: 20vh;
}

.FOTO_NL {
    margin: 0px 10px 10px 60px;
}

.FOTO_ENG {
    margin: 0px 10px 60px 70px;

}

.button {
    background-color: #1f5c21;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 880px;
    cursor: pointer;
}

.php_foto {
    display: flex;
    float: right;
    width: 337px;
    height: 100px;
}

.javascript_foto {
    display: flex;
    float: right;
    width: 337px;
    height: 80px;
}

.code_programma_js {
    width: 1000px;
    height: 400px;
}